<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="local" name="APP_NAME" source="spring.application.name" defaultValue="moaon-app"/>
    <springProperty scope="local" name="PROFILE" source="spring.profiles.active" defaultValue="local"/>

    <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%X{trace_id}] %clr(%-5level) %clr(%logger{36}){cyan} - %msg
                [%thread]%n
            </pattern>
        </encoder>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>time</timestamp>
                <version>[ignore]</version>
                <level>level</level>
                <thread>thread</thread>
                <logger>logger</logger>
                <message>msg</message>
                <stackTrace>stack_trace</stackTrace>
            </fieldNames>
            <includeMdc>true</includeMdc>
            <customFields>{"app":"${APP_NAME}", "env":"${PROFILE}"}</customFields>
        </encoder>
    </appender>

    <springProfile name="local,test,new">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev,prod">
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>
</configuration>
